html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    touch-action: manipulation;
}

* > {
    box-sizing: border-box;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Intro Page */

#intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "name name name"
    "bio bio bio"
    "badges badges badges";
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-image: none;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

#intro-name {
    grid-area: name;
    font-size: 12vw;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 20vh 0 0;
    justify-content: center;
}

#intro-bio {
    grid-area: bio;
    font-size: 9vw;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 0 20vh;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #intro-bio {
        background: red;
    }
}

#intro-badges {
    grid-area: badges;
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: space-around;
    margin: 0 0 100px;
}

.intro-badge {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 12vw;
    max-width: 155px;
    margin: 0;
}

.intro-caption {
    align-self: center;
    font-size: 3vw;
    color: white;
}

/* Nav */

#nav {
    display: flex;
    height: 50px;
    width: 100%;
    bottom: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-image: url(Assets/pexels-philippe-donn-1169754.jpg);
    background-image: url(Assets/pexels-pixabay-355288.jpg);
    background-image: none;
    background-size: cover;
}

#nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    width: 100px;
}

.nav-text {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    align-self: center;
    background-color: black;
    padding: 5px 7px;
    border: 1px solid white;
    pointer-events: none;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0,0,0,0.1);
    top: 0;
}

.dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
}

.trigger-enter .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdown-background {
    width: 100px;
    height: 100px;
    position: absolute;
    background: white;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all .3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.dropdown-background.open {
    opacity: 1;
}

#dropdown-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.dropdown-content {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Projects Page */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-image: url(Assets/pexels-philippe-donn-1169754.jpg);
    background: none;
    background-size: cover;
    overflow: hidden;
}

#projects-title {
    grid-area: projects;
    justify-self: center;
    font-size: 5vw;
    margin: 25px 0 50px;
    color: white;
    background: black;
    padding: 0;
}

#carousel-container {
    grid-area: carousel;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-areas:
    ". links ."
    "left-arrow container right-arrow"
    ". bubbles .";
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#project-info {
    grid-area: links;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    border: 1px solid white;
    padding: 0;
    width: 100%;
}

#info-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.project-link {
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid white;
    height: 30px;
    width: 50px;
    text-align: center;
    align-self: center;
}

#project-title {
    color: white;
    width: 150px;
    text-align: center;
}

.arrow-button {
    background: none;
    border: none;
    outline: none;
    width: 200px;
    padding: 0;
    margin: 0;
}

.carousel-arrow {
    height: auto;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

#left-arrow {
    grid-area: left-arrow;
    height: auto;
    width: 100%;
}

#right-arrow {
    grid-area: right-arrow;
    height: auto;
    width: 100%;
}

#projects-container {
    grid-area: container;
    height: auto;
    width: 100%;
    margin: 0;
    background: white;
    height: 100%;
    overflow: hidden;
}

#carousel-track {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.project {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: none;
}

#bubbles-container {
    grid-area: bubbles;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.bubble {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.3);
    margin: 0 5px;
    cursor: pointer;
}

.current-slide {
    background: rgba(255,255,255,0.75);
}

.is-hidden { display: none; }