html {
    height: 100%;
    width: 100%;
    background-color: black;
}

* > {
    box-sizing: border-box;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Intro Page */

#intro {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "name name name"
    "bio bio bio"
    "badges badges badges";
    background-image: url(Assets/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
    justify-content: center;
}

#intro-name {
    grid-area: name;
    font-size: 7vw;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

#intro-bio {
    grid-area: bio;
    font-size: 5vw;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

#intro-badges {
    grid-area: badges;
    display: flex;
    height: 100%;
    max-width: 100%;
    justify-content: center;
}

.intro-badge {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 12vh;
    width: 12vw;
}

.intro-caption {
    align-self: center;
    font-size: 3vw;
    color: white;
}

/* Nav */

#nav {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: 3px solid gray;
}

#nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#nav a {
    background-color: black;
    padding: 10px;
    border: 3px solid gray;
    color: white;
    text-decoration: none;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0,0,0,0.1);
    top: 0;
}

/* Projects Page */

#projects {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "calculator sketch rps"
    ". google tribute";
    height: 100%;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin: 0;
}

.project-image{
    height: auto;
    width: 50%;
}

.project-caption {
    color: white;
    align-self: center;
    font-size: 3vw;
}

#calculator {
    grid-area: calculator;
}

#sketch-paint {
    grid-area: sketch;
}

#rock-paper-scissors {
    grid-area: rps;
}

#google-recreation {
    grid-area: google;
}

#tribute-page-sample {
    grid-area: tribute;
}